@model Lab1.PublishingCollection

@{
    ViewData["Title"] = "Create";
}

<h1>Створити</h1>

<h4>Видавництво</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PublishingName" class="control-label"></label>
                <input asp-for="PublishingName" class="form-control" />
                <span asp-validation-for="PublishingName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Створити" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" style="text-decoration:none; color:#0ce7e7;">Назад</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
