@{
    ViewData["Title"] = "Лабораторна робота з ІСтаТП 2020. Публікації науковців";
}

@if (User.Identity.IsAuthenticated)
{
    <p>@User.Identity.Name</p>

    <form method="post" asp-controller="Account" asp-action="Logout">
        <input type="submit" value="Вихід" />
    </form>
    <a asp-controller="Roles" asp-action="Index">Управление ролями</a>
    <a asp-controller="Users" asp-action="Index">Управление користувачами</a>
}
else
{
    <a asp-controller="Account" asp-action="Login">Вхід</a>
    <a asp-controller="Account" asp-action="Register">Реєстація</a>
}

